In [19]:
import requests 
import json
import pandas as pd

200 – everything went okay, and the result has been returned (if any)

• 301 – the server is redirecting you to a different endpoint. This can happen
when a company switches domain names, or an endpoint name is changed.

• 401 – the server thinks you’re not authenticated. This happens when you
don’t send the right credentials to access an API.

• 400 – the server thinks you made a bad request. This can happen when you
don’t send along the right data, among other things.

• 403 – the resource you’re trying to access is forbidden – you don’t have the
right permissions to see it.

• 404 – the resource you tried to access wasn’t found on the server

In [2]:
response = requests.get("https://api.randomuser.me/")
print(response.status_code)

200

In [3]:
params = {"results": 5, "gender": "male", "nat":"US"}

In [4]:
response = requests.get("https://api.randomuser.me/",
params=params)
response.text

'{"results":[{"gender":"male","name":{"title":"Mr","first":"Gregory","last":"Watson"},"location":{"street":{"number":1503,"name":"Marsh Ln"},"city":"Elizabeth","state":"Florida","country":"United States","postcode":19247,"coordinates":{"latitude":"46.4857","longitude":"-37.8745"},"timezone":{"offset":"-10:00","description":"Hawaii"}},"email":"gregory.watson@example.com","login":{"uuid":"f1274216-0b9f-42cc-88cb-0ab1bbbe7057","username":"lazyrabbit767","password":"rivers","salt":"AdTL7lWX","md5":"0569364cd755ed13d6ee17e8e7677863","sha1":"e5eed69bcd5bd8e04221f4d3a763640ae54dea20","sha256":"a6bcd0cc1b4d904f483cc87496a932564711584bcf46cf57fcf213f004236e88"},"dob":{"date":"1947-04-24T03:03:22.955Z","age":74},"registered":{"date":"2013-08-05T00:12:56.950Z","age":8},"phone":"(066)-694-0341","cell":"(119)-249-2033","id":{"name":"SSN","value":"747-67-4239"},"picture":{"large":"https://randomuser.me/api/portraits/men/70.jpg","medium":"https://randomuser.me/api/portraits/med/men/70.jpg","thumbnail":"https://randomuser.me/api/portraits/thumb/men/70.jpg"},"nat":"US"},{"gender":"male","name":{"title":"Mr","first":"Julian","last":"Newman"},"location":{"street":{"number":2452,"name":"Mockingbird Ln"},"city":"Aubrey","state":"Hawaii","country":"United States","postcode":64789,"coordinates":{"latitude":"-61.6372","longitude":"-140.6982"},"timezone":{"offset":"+5:45","description":"Kathmandu"}},"email":"julian.newman@example.com","login":{"uuid":"1f37f306-4c6b-4ab7-b6ee-8ab380396a45","username":"brownpanda483","password":"doggies","salt":"yMswx3EA","md5":"6e47d3d9beb82a67ac769eb030867631","sha1":"058cb2fc19e0b932aaf9404dbf419f9f30dd894a","sha256":"0cbf8b2dfe13f023e542aed9ffdc1dc6b5ea3d57216915fb514a5051ecfa2e18"},"dob":{"date":"1949-04-12T10:47:50.491Z","age":72},"registered":{"date":"2006-11-29T07:16:04.329Z","age":15},"phone":"(979)-006-9511","cell":"(586)-174-0489","id":{"name":"SSN","value":"767-25-5763"},"picture":{"large":"https://randomuser.me/api/portraits/men/89.jpg","medium":"https://randomuser.me/api/portraits/med/men/89.jpg","thumbnail":"https://randomuser.me/api/portraits/thumb/men/89.jpg"},"nat":"US"},{"gender":"male","name":{"title":"Mr","first":"Fernando","last":"Gardner"},"location":{"street":{"number":9685,"name":"Parker Rd"},"city":"Portland","state":"West Virginia","country":"United States","postcode":86834,"coordinates":{"latitude":"-21.4318","longitude":"134.7674"},"timezone":{"offset":"+4:30","description":"Kabul"}},"email":"fernando.gardner@example.com","login":{"uuid":"7643b614-efbf-401a-a822-8da1b607deca","username":"beautifullion506","password":"columbus","salt":"AfXfKU1p","md5":"dbafde85b97b6c6d0c71c72b4c3f9b7e","sha1":"719f24a75ce562542bfab2cb414be08eac852495","sha256":"29b70ee54bd199f9ae89290962572da4559a79b41a4c61105061973ebc9157fb"},"dob":{"date":"1956-06-19T18:04:25.509Z","age":65},"registered":{"date":"2017-01-28T14:31:15.064Z","age":4},"phone":"(088)-982-7171","cell":"(023)-279-8579","id":{"name":"SSN","value":"454-59-7801"},"picture":{"large":"https://randomuser.me/api/portraits/men/85.jpg","medium":"https://randomuser.me/api/portraits/med/men/85.jpg","thumbnail":"https://randomuser.me/api/portraits/thumb/men/85.jpg"},"nat":"US"},{"gender":"male","name":{"title":"Mr","first":"Willard","last":"Morales"},"location":{"street":{"number":5756,"name":"Hickory Creek Dr"},"city":"New Haven","state":"New Mexico","country":"United States","postcode":72843,"coordinates":{"latitude":"36.8666","longitude":"-96.7317"},"timezone":{"offset":"-3:30","description":"Newfoundland"}},"email":"willard.morales@example.com","login":{"uuid":"99ca5054-af9b-4fd6-9c19-bd331973dd0d","username":"beautifultiger905","password":"trouble","salt":"24xX0xrR","md5":"48f5352fdc30d7f45605f8ae58cb8d88","sha1":"0195a77d69d70c022b79b7255241d21abb248b88","sha256":"4c4e4283025fbe95c531f63119cb8b5f829e86026871ed1dee2690030cbedf99"},"dob":{"date":"1992-01-29T23:08:19.770Z","age":29},"registered":{"date":"2003-12-16T03:01:08.313Z","age":18},"phone":"(038)-315-3522","cell":"(623)-704-4382","id":{"name":"SSN","value":"389-90-6950"},"picture":{"large":"https://randomuser.me/api/portraits/men/1.jpg","medium":"https://randomuser.me/api/portraits/med/men/1.jpg","thumbnail":"https://randomuser.me/api/portraits/thumb/men/1.jpg"},"nat":"US"},{"gender":"male","name":{"title":"Mr","first":"Samuel","last":"Duncan"},"location":{"street":{"number":8501,"name":"Karen Dr"},"city":"South Valley","state":"Massachusetts","country":"United States","postcode":11222,"coordinates":{"latitude":"67.5728","longitude":"165.4306"},"timezone":{"offset":"+9:00","description":"Tokyo, Seoul, Osaka, Sapporo, Yakutsk"}},"email":"samuel.duncan@example.com","login":{"uuid":"c4c1b313-43bf-4d8b-b687-8fce034f9595","username":"bluesnake682","password":"smart1","salt":"1OxRW2ic","md5":"33ded3d20a38f5647f7c7897c804559e","sha1":"05574cf8a57b0987c0866fe9281a2ad50d1589c6","sha256":"b3d5e5f88ab9d5465905454e43f2355a8c819eb1108c9dee070621c236e25939"},"dob":{"date":"1949-06-26T22:36:36.025Z","age":72},"registered":{"date":"2013-10-25T19:15:06.776Z","age":8},"phone":"(898)-657-0736","cell":"(180)-620-5570","id":{"name":"SSN","value":"588-29-6295"},"picture":{"large":"https://randomuser.me/api/portraits/men/36.jpg","medium":"https://randomuser.me/api/portraits/med/men/36.jpg","thumbnail":"https://randomuser.me/api/portraits/thumb/men/36.jpg"},"nat":"US"}],"info":{"seed":"316a0433e46022db","results":5,"page":1,"version":"1.3"}}'

In [5]:
data = json.loads(response.text)

In [6]:
type(data)

dict

In [7]:
count = 0
for results, info in data.items():
    for c in info:
        count += 1
        print("User {}:   {}".format(count, c["name"]["first"]))
    break

User 1:   Gregory
User 2:   Julian
User 3:   Fernando
User 4:   Willard
User 5:   Samuel

In [8]:
response = requests.get("http://api.open-notify.org/astros.json",
params=params)
response.text

'{"number": 7, "message": "success", "people": [{"name": "Mark Vande Hei", "craft": "ISS"}, {"name": "Oleg Novitskiy", "craft": "ISS"}, {"name": "Pyotr Dubrov", "craft": "ISS"}, {"name": "Thomas Pesquet", "craft": "ISS"}, {"name": "Megan McArthur", "craft": "ISS"}, {"name": "Shane Kimbrough", "craft": "ISS"}, {"name": "Akihiko Hoshide", "craft": "ISS"}]}'

In [12]:
space = requests.get("http://api.open-notify.org/astros.json")
space = json.loads(space.text)
space["people"][0]["name"]

'Mark Vande Hei'

In [13]:
# print out all the names of astronauts in space and count
count = 0
for items in space["people"]:
    count += 1
    print("Astronaut {}: {}".format(count, items["name"]))

Astronaut 1: Mark Vande Hei
Astronaut 2: Oleg Novitskiy
Astronaut 3: Pyotr Dubrov
Astronaut 4: Thomas Pesquet
Astronaut 5: Megan McArthur
Astronaut 6: Shane Kimbrough
Astronaut 7: Akihiko Hoshide

In [14]:
iss_loc = requests.get("http://api.open-notify.org/iss-now.json")
iss_loc.text

'{"timestamp": 1621407664, "iss_position": {"latitude": "-49.7864", "longitude": "32.6950"}, "message": "success"}'

In [20]:
loc = json.loads(iss_loc.text
lon = float(loc["iss_position"]["longitude"])
lat = float(loc["iss_position"]["latitude"])
timestamp = loc["timestamp"]

SyntaxError: invalid syntax (<ipython-input-20-5bffc17204c3>, line 2)

In [21]:
datetime = time.strftime("%A, %Y-%m-%d %H:%M:%S", time.localtime(timestamp))
datetime

NameError: name 'time' is not defined

In [22]:
a = pd.DataFrame([[lat, lon]], columns=["lat","lon"])
a

NameError: name 'lat' is not defined